<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--这是DB服务器配置，可以从这里更改服务器-->
    <add key="SERVERIP" value="192.168.1.198"/>
    <add key="PORT" value="1521"/>
    <add key="SERVERNAME" value="dmsdb01"/>
    <!--这是SQLServer服务器配置，可以从这里更改服务器-->
    <add key="SQLSERVERIP" value="192.168.1.198"/>
    <add key="SQLPORT" value="1433"/>
    <add key="SQLSERVERNAME" value="HDIPRO"/>
    <!--这是MySQL服务器配置，可以从这里更改服务器-->
    <add key="MySQLSERVERIP" value="10.1.69.61"/>
    <add key="MySQLPORT" value="3306"/>
    <add key="MySQLSERVERNAME" value="fa1"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
