<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <instances defaultInstance="ORACLE">
    <instance name="ORACLE" type="ORACLE" connectionString="AMTEC" isFullString="false" isEncrypt="false"/>
  </instances>
  <connectionStrings>
    <connectionString name="AMTEC">
      <parameters>
        <parameter name="server" value="mesdb07" isSensitive="false"/>
        <parameter name="user" value="rtmc"></parameter>
        <parameter name="pwd" value="rtmc_pwd"></parameter>
      </parameters>
      <fullString></fullString>
    </connectionString>
  </connectionStrings>
</configuration>