<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="LogFilePath" value="logs/application.log"/>
    <add key="MaxLogSize" value="1048576"/> <!-- 1 MB -->
    <add key="LogLevel" value="Info"/>
  </appSettings>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=server;Initial Catalog=database;User ID=user;Password=password;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>